ldtiep.be/.vs/ldtiep.be/**
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ldtiep.be/.vs//
/ldtiep.be/.vs/ldtiep.be/v17/.suo
/ldtiep.be/.vs/ldtiep.be/v17/DocumentLayout.backup.json
/ldtiep.be/.vs/ldtiep.be/v17/DocumentLayout.json
/ldtiep.be/MISA.WebFresher2023.Demo/bin/Debug/net6.0/ldtiep.be.api.dll
/ldtiep.be/MISA.WebFresher2023.Demo/bin/Debug/net6.0/ldtiep.be.api.exe
/ldtiep.be/MISA.WebFresher2023.Demo/bin/Debug/net6.0/ldtiep.be.api.pdb
/ldtiep.be/MISA.WebFresher2023.Demo/bin/Debug/net6.0/ldtiep.be.BL.dll
/ldtiep.be/MISA.WebFresher2023.Demo/bin/Debug/net6.0/ldtiep.be.BL.pdb
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/EndpointInfo/ldtiep.be.api.json
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ref/ldtiep.be.api.dll
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/refint/ldtiep.be.api.dll
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/apphost.exe
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.AssemblyInfo.cs
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.AssemblyInfoInputs.cache
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.csproj.AssemblyReference.cache
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.dll
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.pdb
/ldtiep.be/MISA.WebFresher2023.Demo/obj/Debug/net6.0/ldtiep.be.api.sourcelink.json
/ldtiep.be/MISA.WebFresher2023.Demo.BL/bin/Debug/net6.0/ldtiep.be.BL.dll
/ldtiep.be/MISA.WebFresher2023.Demo.BL/bin/Debug/net6.0/ldtiep.be.BL.pdb
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ref/ldtiep.be.BL.dll
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/refint/ldtiep.be.BL.dll
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.AssemblyInfo.cs
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.AssemblyInfoInputs.cache
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.csproj.AssemblyReference.cache
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.dll
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.pdb
/ldtiep.be/MISA.WebFresher2023.Demo.BL/obj/Debug/net6.0/ldtiep.be.BL.sourcelink.json
