.product-cart {
    padding: 20px 200px 40px 200px;
    justify-content: space-between;
    background-color: #F2F5F8;

    .product-cart-header {
        font-weight: 600;
        background-color: #fff;
        color: #1c2430;
        padding: 16px 30px;
        font-size: 24px;
    }

}