.admin-container {
    .tabbar {
        padding: 20px;
        display: flex;
        gap: 20px;

        .left {
            width: 300px;
            background-color: #e6e4e43b;
            padding: 10px;
            border-radius: 10px;


            .tab-content {
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid #ccc;
                cursor: pointer;
                user-select: none;

                &:hover {
                    border: 1px solid black;
                }
            }

            .tab-content--active {
                background-color: #fffbe2;
            }
        }

        .right {
            width: 100%;
        }
    }

    .table-data {}

    .table-head {
        display: flex;
        justify-content: end;

        .add-button {
            border: 1px solid #ccc;
            padding: 14px;
            border-radius: 10px;
            user-select: none;
            background-color: greenyellow;
            cursor: pointer;
            margin-bottom: 20px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}