.w-25 {
    width: 25%;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picker {
    z-index: 999999999 !important;
}

.color-picker {
    cursor: pointer;
}

.vs-button * {
    user-select: none;
}

.vs-popup--content {
    * {
        font-size: 14px;
    }

    .vs-input--label {
        font-size: 16px;
    }
}